@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin celular{
    @media screen and (max-width: 480px){
        @content;
    }
}


/*Maps*/
$fontbody: (
  color: black,
  family: ('Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif),
  size: 16px,
);


$textoParrafo: (
    color: White,
    family: ('Work Sans', sans-serif),
    size: 0.9rem,
    margin: 0px,
);