

$colorTopSub:#7D3C98;
$colorHeaderFooter:#8E44AD;





@import "./mixin-maps-scss";


@import "./archivos_scss/headerfooter";
@import "./archivos_scss/index";
@import "./archivos_scss/contacto";
@import "./archivos_scss/servicios";
@import "./archivos_scss/quiensomos";
@import "./archivos_scss/galeria";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;1,100&display=swap');



body{
    color: map-get($fontbody, color);
    font-family: map-get($fontbody, family);
    font-size: map-get($fontbody, size);
}





.btnColor{
    --bs-btn-bg: rgb(192, 76, 167);
    --bs-btn-border-color: rgb(192, 76, 167);
    --bs-btn-hover-border-color: rgb(150, 71, 167);


    transition: background-color 0.25s ease-out 25ms
}

.btn:hover{
    color: rgb(150, 71, 167);   
    background-color: white;
}


.whatsapp{
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    width: 70px;
        @include tablet{
            display: none;
        }
}


.titulo{
    text-align: center;
    padding-top: 10px;
    font-family: 'Work Sans', sans-serif;
    color: rgb(192, 76, 167);
}

.animacionTitulo{
    animation-duration: 0.4s;
    animation-name: animTitulo;
}
@keyframes animTitulo {
    from { font-size: 0px; }
    to   { font-size: 40px; }    
}

::marker{
    color:rgb(192, 76, 167);
    font-size: 10px
}

