
/*Pagina curso*/
.flechaVolverCurso{
    text-decoration: none;
    color: black;
        &:hover{
            color:#BB8FCE;
        }
}
.divPaginaCurso{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    line-height: 24px;
}

.ulCurso li{
    padding-bottom: 5px;
    &::marker{
        font-size: 0px;
    }
    .fa-calendar:before, .fa-male:before, .fa-person:before, .fa-book:before, .fa-magnifying-glass:before, .fa-search:before, .fa-certificate:before{
        color: map-get($iconos, color);
        padding-right: map-get($iconos, padding-right );
    }
}
.botonPDF{
    text-decoration: none;
    color: #4A235A;
        &:hover{
        color:#BB8FCE;
        }
}

/*Pagina termino y condiciones*/
.sectionTerminoyCondiciones{
    padding-bottom: 18.2vh;
}